<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .head {
            text-align: center;
            text-decoration-color: #b3151c;
        }
    </style>
</head>
<body>

    <div class="head">
   <h3>사번 받아서 삭제하기</h3>
   <h4><small><mark>신중히 생각하고 눌러주세요(200번~)</mark></small></h4>
   <form action="/employee/delete" method="post">
       <input type="number" name="code">
       <input type="submit" value="전송전송">
   </form>
    </div>
</body>
</html>