<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>

</head>
<body>
<h1>입력하기!! !!!</h1>

<form action="/employee/insert" method="post">
    <input type="number" name="empId" placeholder="사원번호 입력">
    <input type="submit" value="확인" id="gogobtn">
</form>






<script>
    // document.getElementById("gogobtn").addEventListener("click", function(event) {
    //     var empId = document.getElementById("empId").value;
    //
    //     if (empId) {
    //         document.getElementById("hide").style.display = "block";
    //     } else {
    //         document.getElementById("hide").style.display = "none";
    //     }
    // });
</script>
</body>
</html>