<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
    <h1>Employee 수정하기</h1>
    <form action="/employee/update" method="post">
    <label>수정할 사원의 번호를 입력하세요 : <input type="text" name="empId" id="inputField" oninput="showHideDiv()"></label><br>
    <div id="contentDiv" style="display: none;">
        <label>해당 사원의 수정할 이름을 입력하세요 : <input type="text" name="empName"></label><br>
        <label>해당 사원의 수정할 이메일을 입력하세요 : <input type="text" name="email" ></label><br>
        <label>해당 사원의 수정할 핸드폰번호를 입력하세요 : <input type="text" name="phone"></label><br>
        <label>해당 사원의 수정할 입사일을 입력하세요 : <input type="date" name="hireDate"></label><br>
        <input type="submit" value="수정하기">
    </div>
    </form>
</body>

<script>
    function showHideDiv() {
        let inputField = document.getElementById("inputField");
        let contentDiv = document.getElementById("contentDiv");

        // 입력된 값 가져오기
        let inputValue = inputField.value.trim();

        if (inputValue.length >= 3) {
            // 입력된 값이 있으면 div를 보이게 하고, 없으면 숨김
            contentDiv.style.display = "block";
        } else {
            contentDiv.style.display = "none";
        }
    }
</script>
</html>